
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----task-1----*/
#categories {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 440px;
  padding: 24px;
  row-gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 392px;
  background-color: #F6F6FE;
  border-radius: 8px;
  padding: 16px;
}

.item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04px;
}

.item ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item ul li {
  width: 100%;
  line-height: 40px;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

/*-----task-2-----*/
.gallery {
  display: flex;
  margin: 0 auto;
  max-width: 1128px;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  cursor: pointer;
}

.gallery-item-image {
  display: flex;
  width: 360px;
  height: 300px;
}

/*-----task-3----*/
#name-input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2E2F42;
  border: 1px solid #808080;
  border-radius: 4px;
}

#name-input::placeholder {
  color: #2E2F42;
}

.name-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.04px;
}

/*-----task-4-----*/
.login-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 408px;
  padding: 24px;
  row-gap: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
}

.login-form label input {
  width: 360px;
  height: 40px;
  line-height: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
}

.login-form button {
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
  outline: none;
  border: none;
  width: 86px;
  height: 40px;
  border-radius: 8px;
  background-color: #4E75FF;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
  color: #ffffff;
}

.login-form button:hover {
  background-color: #6C8CFF;
}

/*-----task-5-----*/
.widget {
  display: flex;
  flex-direction: column;
  width: 250px;
  row-gap: 16px;
  margin: 0 auto;
}

.widget p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
}

.change-color {
  font-family: "Montserrat", sans-serif;
  width: 148px;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  background-color: #4E75FF;
}

.change-color:hover {
  background-color: #6C8CFF;
}

/*-----task-6-----*/
#controls {
  display: flex;
  margin: 0 auto;
  width: 486px;
  height: 104px;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background-color: #F6F6FE;
  border-radius: 8px;
  column-gap: 16px;
}

#controls input {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

#controls button {
width: 120px;
height: 40px;
border-radius: 8px;
font-family: "Montserrat", sans-serif;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04px;
border: none;
color: #ffffff;
}

#controls button[data-create] {
background-color: #4E75FF;
}

#controls button[data-destroy] {
background-color: #FF4E4E;
}

#controls button[data-create]:hover {
background-color: #6C8CFF;
}

#controls button[data-destroy]:hover {
background-color: #FF7070;
}

#boxes {
display: flex;
flex-wrap: wrap;
gap: 16px;
padding: 32px;
background-color: #F6F6FE;
margin-top: 16px;
border-radius: 8px;
}